<!--Left Container problem Orders-->
<div class="col-sm-3">
  <div *ngIf="tempOrders">

    <!--Left Container delayed Orders-->
    <div>
      <p>Paused Orders:</p>
      <div class="order-view-body-element order-view-list">
        <div class="list-group order-view-OrderDetails-element" style="width:100%; margin:0" *ngFor="let order of tempOrders">
          <div *ngIf="order.Status.OrderStatusId == 'e9ea67d5-bee2-4372-9abb-408a2afe3640'">
            <a (click)="setSelectedOrder(order)" class="list-group-item"> {{order.OrderId}} | {{order.Note}}</a>
          </div>
        </div>
      </div>
    </div>

    <!--Left Container paused Orders-->
    <div>
      <p>Delayed Orders:</p>
      <div class="order-view-body-element order-view-list">
        <div class="list-group order-view-OrderDetails-element" style="width:100%; margin:0" *ngFor="let order of tempOrders">
          <div *ngIf="order.Status.OrderStatusId == '83d176ef-0c09-4fdb-9e8e-3f422bed7867'">
            <a (click)="setSelectedOrder(order)" class="list-group-item"> {{order.OrderId}} | {{order.Note}}</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--Detail View-->
<div class="col-sm-6">
  <div *ngIf="selectedOrder">
    <p>Detail View:</p>
    <div class="order-view-OrderDetails-element">
      <div class="form-group form-group-element">
        <p><label>Order Id:</label>   {{selectedOrder.OrderId}}</p>
        <p><label>Date of Delivery:</label>   {{dateOfOrder |  date:'dd.MM.yyy'}}</p>
        <p><label>Date of Order:</label>   {{dateOfDelivery|  date:'dd.MM.yyy'}}</p>
        <p><label>Customer:</label>   {{selectedOrder.Customer.FirstName}} {{selectedOrder.Customer.LastName}}</p>
        <p><label>Note:</label>   {{selectedOrder.Note}}</p>
        <p><label>Status:</label>   {{selectedOrder.Status.Decription}}</p>
      </div>
    </div>
  </div>
</div>

<!--Left Container progess and open Orders-->
<div class="col-sm-3">
  <div *ngIf="tempOrders">

    <!--progress Orders-->
    <div>
      <p>Progess Order:</p>
      <div class="order-view-list order-view-Orders-elment">
        <div class="list-group order-view-OrderDetails-element" style="width:100%; margin:0" *ngFor="let order of tempOrders">
          <div *ngIf="order.Status.OrderStatusId == '1d7ed2c9-e273-49e7-b7fd-b014f71a8a40'">
            <a (click)="setSelectedOrder(order)" class="list-group-item"> {{order.OrderId}} | {{order.Note}}</a>
          </div>
        </div>
      </div>
    </div>

    <!--new Orders-->
    <div>
      <p>Open Orders:</p>
      <div class="order-view-list">
        <div class="list-group order-view-OrderDetails-element" style="width:100%; margin:0" *ngFor="let order of tempOrders">
          <div *ngIf="order.Status.OrderStatusId == '0c16612c-9ad3-4ffe-bb58-3ea434e0f91f'">
            <a (click)="setSelectedOrder(order)" class="list-group-item"> {{order.OrderId}} | {{order.Note}}</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


