<!--Left Container problem Orders-->
<div class="col-sm-3">
  <div *ngIf="tempOrders">

    <!--Left Container delayed Orders-->
    <div>
      <label class="col-sm-12" style="margin-bottom:5px; margin-top:5px;"> pausedOrders: </label>
      <!--<p>Paused Orders:</p>-->
      <div class="order-view-body-element order-view-list">
        <div class="list-group order-view-OrderDetails-element" style="width:100%; margin:0" *ngFor="let order of tempOrders">
          <div *ngIf="order.Status.OrderStatusId == 'e9ea67d5-bee2-4372-9abb-408a2afe3640'">
            <div (click)="setSelectedOrder(order)" class="list-group-item"> {{order.OrderId}} <br /> {{order.Note}}</div>
          </div>
        </div>
      </div>
    </div>

    <!--Left Container paused Orders-->
    <div>
      <label class="col-sm-12" style="margin-bottom:5px; margin-top:5px;"> delayedOrders: </label>
      <!--<p>Delayed Orders:</p>-->
      <div class="order-view-body-element order-view-list">
        <div class="list-group order-view-OrderDetails-element" style="width:100%; margin:0" *ngFor="let order of tempOrders">
          <div *ngIf="order.Status.OrderStatusId == '83d176ef-0c09-4fdb-9e8e-3f422bed7867'">
            <div (click)="setSelectedOrder(order)" class="list-group-item"> {{order.OrderId}} <br /> {{order.Note}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--Detail View-->
<div class="col-sm-6">
  <div *ngIf="selectedOrder">
    <label class="col-sm-12" style="margin-bottom:5px; margin-top:5px;"> Detail View: </label>
   <!-- <p>Detail View:</p>-->
    <div class="col-sm-12 order-view-OrderDetails-element">
      <table class="table table-striped">
        <tr>
          <td>
            <label>Order: Id</label>
          </td>
          <td>
            {{selectedOrder.OrderId}}
          </td>
        </tr>
        <tr>
          <td>
            <label>Date of Order:</label>
          </td>
          <td>
            {{dateOfOrder |  date:'dd.MM.yyy'}}
          </td>
        </tr>
        <tr>
          <td>
            <label>Date of Delivery:</label>
          </td>
          <td>
            {{dateOfDelivery|  date:'dd.MM.yyy'}}
          </td>
        </tr>
        <tr>
          <td>
            <label>Customer:</label>
          </td>
          <td>
            {{selectedOrder.Customer.FirstName}} {{selectedOrder.Customer.LastName}}
          </td>
        </tr>
        <tr>
          <td>
            <label>Note:</label>
          </td>
          <td>
            <textarea>{{selectedOrder.Note}}</textarea>
          </td>
        </tr>
        <tr>
          <td>
            <label>Status:</label>
          </td>
          <td>
            {{selectedOrder.Status.Decription}}
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>

<!--Left Container progess and open Orders-->
<div class="col-sm-3">
  <div *ngIf="tempOrders">

    <!--progress Orders-->
    <div>
      <label class="col-sm-12" style="margin-bottom:5px; margin-top:5px;"> progressOrders: </label>
     <!-- <p>Progess Order:</p>-->
      <div class="order-view-list order-view-Orders-elment">
        <div class="list-group order-view-OrderDetails-element" style="width:100%; margin:0" *ngFor="let order of tempOrders">

          <div *ngIf="order.Status.OrderStatusId == '1d7ed2c9-e273-49e7-b7fd-b014f71a8a40'">
            <div (click)="setSelectedOrder(order)" class="list-group-item"> {{order.OrderId}} <br /> {{order.Note}}</div>
          </div>
        </div>
      </div>
    </div>

    <!--new Orders-->
    <div>
      <label class="col-sm-12" style="margin-bottom:5px; margin-top:5px;"> openOrders: </label>
      <!--<p>Open Orders:</p>-->
      <div class="order-view-list">
        <div class="list-group order-view-OrderDetails-element" style="width:100%; margin:0" *ngFor="let order of tempOrders">
          <div *ngIf="order.Status.OrderStatusId == '0c16612c-9ad3-4ffe-bb58-3ea434e0f91f'">
            <div (click)="setSelectedOrder(order)" class="list-group-item"> {{order.OrderId}} <br /> {{order.Note}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


