<div class="col-sm-6">
  <p>Open Orders:</p>
  <div class="order-view-body-element order-view-list">
    <div class="table-striped" style="width:100%; margin:0" *ngIf="newOrders" >
      <table class="table">
        <tr>
          <th>Order ID</th>
          <th>Note</th>
          <th>Delivery Date</th>
          <th>OrderStatusId</th>
        </tr>
        <tr *ngFor="let order of newOrders">
          <td>{{order.OrderId}}</td>
          <td>{{order.Note}}</td>
          <td>{{order.DateOfDelivery}}</td>
           <td>{{order.Status.OrderStatusId}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <p>Detail View:</p>
</div>

<div class="col-sm-6">
  <p>Paused Orders:</p>
  <div class="order-view-body-element order-view-list">
    <div class="table-striped" style="width:100%; margin:0">
      <table class="table">
        <tr>
          <th>Order ID</th>
          <th>Note</th>
          <th>Delivery Date</th>
          <th>OrderStatusId</th>
        </tr>
        <tr *ngFor="let order of pausedOrders">
          <td>{{order.OrderId}}</td>
          <td>{{order.Note}}</td>
          <td>{{order.DateOfDelivery}}</td>
          <td>{{order.Status.OrderStatusId}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <p>Delayed Orders:</p>
  <div class="order-view-body-element order-view-list">
    <div class="table-striped" style="width:100%; margin:0">
      <table class="table">
        <tr>
          <th>Order ID</th>
          <th>Note</th>
          <th>Delivery Date</th>
          <th>OrderStatusId</th>
        </tr>
        <tr *ngFor="let order of orders">
          <td>{{order.OrderId}}</td>
          <td>{{order.Note}}</td>
          <td>{{order.DateOfDelivery}}</td>
          <td>{{order.Status.OrderStatusId}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
