<div class='container-fluid'>
  <div class='row'>
    <!-- import NavBar -->
    <div class='col-sm-2'>
      <app-navmenu></app-navmenu>
    </div>


    <div class='col-sm-10'>
      <!-- import Quick View -->
      <div class='col-sm-12'>
        <app-quick-view></app-quick-view>
      </div>

      <!-- import Body by NavBar selection -->
      <div class='col-sm-12 body-content'>
        <router-outlet></router-outlet>
        <!--<app-ingrediens-view></app-ingrediens-view>-->
      </div>

    </div>
  </div>
</div>
