<!--List of all Chocolates-->
<div  class="col-sm-3" >
  <div>
    <label class="col-sm-12" style="margin-bottom:5px; margin-top:5px;"> chocolateCreations: </label>
  </div>

  <div class="chocolate-view-chocolateList-element chocolate-view-list">
    <div *ngIf="chocolates">
      <div class="list-group" style="width:100%; margin:0" *ngFor="let chocolate of chocolates">
        <a *ngIf="chocolate.Available" (click)="setSelectedChocolate(chocolate)" class="list-group-item"> {{chocolate.Name}}</a>
      </div>
    </div>

    <div *ngIf="chocolates">
      <div>
        <!--<a class="list-group-item"> \--- - - - - - - - - - - not available - - - - - - - - - - ---/ </a>--> 
      </div>
      <div class="list-group" style="width:100%; margin:0" *ngFor="let chocolate of chocolates">
        <a *ngIf="!chocolate.Available" (click)="setSelectedChocolate(chocolate)" class="list-group-item"> \--- {{chocolate.Name}}</a>
      </div>
    </div>
  </div>

</div>

<!-- Middle Body Content (Description of selected Chocolate) -->
<div class="col-sm-6 chocolate-view-chocolateDetails-element">

  <!--Image-->
  <div class="col-sm-12 chocolate-view-image"></div>

  <div style="text-align:center">

    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
    <button type="button" class="btn btn-default" (click)="fileInput.click()">Select Image</button>
   <!-- <button type="button" class="btn btn-default" (click)="onUpload()">Upload!</button>-->

  </div>

  
  <!--Chocolate Details-->
  <div class="col-sm-12 chocolate-view-ChocolateDetailsProperties-element" *ngIf="selectedChocolate">

    <div class="form-group form-group-element">
      <label class="col-sm-3"> Name: </label>
      <div class="col-sm-6">
        <input class="form-control" [(ngModel)]="selectedChocolate.Name" required />
      </div><!--placeholder="name"-->
      <label class="col-lg-3"> € {{chocolatePrice.toFixed(2)}}</label>
    </div>

    <div class="form-group form-group-element">
      <label class="col-sm-3"> Available: </label>
      <div class="col-sm-6"><input class="form-control" [(ngModel)]="selectedChocolate.Available" /></div>
      <div class="col-sm-3"></div>
    </div>

    <div class="form-group form-group-element">
      <label class="col-sm-3"> Shape: </label>
      <div class="col-sm-6">

        <select class="form-control" *ngIf="selectedChocolate.Shape"
                [(ngModel)]="selectedChocolate.Shape.ShapeId">
          <option *ngFor="let shape of shapes"
                  [value]="shape.ShapeId">
            {{shape.Name}}
          </option>
        </select>

      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="form-group form-group-element">
      <label class="col-sm-3"> Wrapping: </label>
      <div class="col-sm-6">

        <select class="form-control" *ngIf="selectedChocolate.Wrapping"
                [(ngModel)]="selectedChocolate.Wrapping.WrappingId">
          <option *ngFor="let wrapping of wrappings"
                  [value]="wrapping.WrappingId">
            {{wrapping.Name}}
          </option>
        </select>

      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="form-group form-group-element">
      <label class="col-sm-3" >Description: </label>
      <textarea class="form-control col-sm-9" [(ngModel)]="selectedChocolate.Description"></textarea>
    </div>

  </div>


    <!--Button Container-->
    <div class="col-sm-12 chocolate-view-ChocolateButtons-element">
      <div class="form-group form-group-element ">
        <button type="button" class="btn btn-default col-sm-4" (click)="createNewChocolate()">Create New</button>
        <button type="button" class="btn btn-default col-sm-4" (click)="saveSelectedChocolate()">Save</button>
        <button type="button" class="btn btn-default col-sm-4" (click)="enableDisableSelecetedChocolate()">Enable/Disable</button>
      </div>
    </div>


  </div>
    


    <!-- Right Body Content (Lists all parts of package) -->
    <div class="col-sm-3 chocolate-view-chocolateIngredients-element">

      <!--List of selected Ingredient-->
      <div>
        <label class="col-sm-12" style="margin-bottom:5px;"> selectedChocolateContent: </label>
      </div>

      <div class="chocolate-view-selectedIngredients-element chocolate-view-list">

        <div *ngIf="selectedIngredients">
          <div class="list-group " style="width:100%; margin:0" *ngFor="let ingredient of selectedIngredients">
            <a *ngIf="ingredient.Available && ingredient.Type == 'Base'" (click)="putInAivailableIngredients(ingredient)" class="list-group-item">{{ingredient.Type}} | € {{ingredient.Price.toFixed(2)}} |  {{ingredient.Name}}</a>
          </div>
        </div>

        <div *ngIf="selectedIngredients">
          <div class="list-group " style="width:100%; margin:0" *ngFor="let ingredient of selectedIngredients">
            <a *ngIf="ingredient.Available && ingredient.Type == 'Filling'" (click)="putInAivailableIngredients(ingredient)" class="list-group-item">{{ingredient.Type}} | € {{ingredient.Price.toFixed(2)}} | {{ingredient.Name}}</a>
          </div>
        </div>

        <div *ngIf="selectedIngredients">
          <!--<a class="list-group-item"> \--- - - - - - - - - - - not available - - - - - - - - - - ---/ </a>-->
          <div class="list-group " style="width:100%; margin:0" *ngFor="let ingredient of selectedIngredients">
            <a *ngIf="!ingredient.Available && ingredient.Type == 'Base'" (click)="putInAivailableIngredients(ingredient)" class="list-group-item"> \-- {{ingredient.Type}} -| € {{ingredient.Price.toFixed(2)}} | {{ingredient.Name}}</a>
          </div>
        </div>

        <div *ngIf="selectedIngredients">
          <div class="list-group " style="width:100%; margin:0" *ngFor="let ingredient of selectedIngredients">
            <a *ngIf="!ingredient.Available && ingredient.Type == 'Filling'" (click)="putInAivailableIngredients(ingredient)" class="list-group-item"> \-- {{ingredient.Type}} -| € {{ingredient.Price.toFixed(2)}} | {{ingredient.Name}} </a>
          </div>
        </div>

      </div>



      <!--List of available Ingredients-->

      <div>
        <label class="col-sm-12" style="margin-bottom:5px; margin-top:5px;"> availableIngredients: </label>
      </div>

      <div class="chocolate-view-availableIngredients-element chocolate-view-list">

        <div *ngIf="availableIngredients">
          <div class="list-group " style="width:100%; margin:0" *ngFor="let ingredient of availableIngredients">
            <a *ngIf="ingredient.Available && ingredient.Type == 'Base'" (click)="putInSelectedIngredients(ingredient)" class="list-group-item">{{ingredient.Type}} | € {{ingredient.Price.toFixed(2)}} |  {{ingredient.Name}}</a>
          </div>
        </div>

        <div *ngIf="availableIngredients">
          <div class="list-group " style="width:100%; margin:0" *ngFor="let ingredient of availableIngredients">
            <a *ngIf="ingredient.Available && ingredient.Type == 'Filling'" (click)="putInSelectedIngredients(ingredient)" class="list-group-item">{{ingredient.Type}} | € {{ingredient.Price.toFixed(2)}} |  {{ingredient.Name}}</a>
          </div>
        </div>

        <div *ngIf="availableIngredients">
          <!--<a class="list-group-item"> \--- - - - - - - - - - not available - - - - - - - - - ---/ </a>-->
          <div class="list-group " style="width:100%; margin:0" *ngFor="let ingredient of availableIngredients">
            <a *ngIf="!ingredient.Available && ingredient.Type == 'Base'" (click)="putInSelectedIngredients(ingredient)" class="list-group-item"> \-- {{ingredient.Type}} -| € {{ingredient.Price.toFixed(2)}} | {{ingredient.Name}}</a>
          </div>
        </div>

        <div *ngIf="availableIngredients">
          <div class="list-group " style="width:100%; margin:0" *ngFor="let ingredient of availableIngredients">
            <a *ngIf="!ingredient.Available && ingredient.Type == 'Filling'" (click)="putInSelectedIngredients(ingredient)" class="list-group-item"> \-- {{ingredient.Type}} -| € {{ingredient.Price.toFixed(2)}} | {{ingredient.Name}}</a>
          </div>
        </div>

      </div>
    </div>
