
<div class="quick-view-stats">

  <div class='col-sm-2'>
    StartDate: <input type="date" value="{{startDate}}" />
  </div>

  <div class='col-sm-2'>
    <p>End Date: <input type="date" value="2018-06-20" /></p>
  </div>

  <div class='col-sm-2'>
    <p>OpenOrders:{{countOpenOrders}}</p>
  </div>

  <div class='col-sm-2'>
    <p>PausedOrders: {{countPausedOrders}}</p>
  </div>

  <div class='col-sm-2'>
    <p>Sales: {{SumSales}}</p>
  </div>

  <div class='col-sm-2'>
    <button class="default btn">Refresh</button>
  </div>
</div>
